<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #header {
            height: 50px;
            margin: auto;
            position: fixed;
            left: 0;
            top: 0;
            background: #8080FF;
            width: 100%;
        }

        #menu {
            height: 30px;
            margin: auto;
            position: fixed;
            left: 0;
            top: 50px;
            background: #8080A0;
            width: 100%;
        }

        ul.hr {
            margin: 0;
            padding: 6px;
        }

            ul.hr li {
                display: inline;
                margin-right: 0px;
                border: 1px solid #000;
                padding: 5px;
            }

        a.classname {
            display: block;
            width: 150px;
            height: 150px;
        }

        #left-colum {
            height: 100%;
            position: fixed;
            left: 0;
            top: 80px;
            background: #30b8Fa;
            width: 150px;
        }

        #body {
            width: 80%;
            bottom: auto;
            margin-top: 80px;
            margin-left: 200px;
        }

        #footer {
            height: 50px;
            position: fixed;
            left: 0;
            bottom: 0;
            background: #39b54a;
            width: 100%;
        }

        .authorization {
            float: right;
            display: inline;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div id="header">
        <ul>
            <li class="authorization">@Html.ActionLink("Login", "Login", "Account")</li>
            <li class="authorization">@Html.ActionLink("Registration", "Registration", "Account")</li>
            <li class="authorization">@Html.ActionLink("Logoff", "LogOff", "Account")</li>
        </ul>
    </div>
    <div id="menu">
        <ul class="hr">
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("Category", "Category")</li>
            <li>@Html.ActionLink("Delivery", "Delivery")</li>
            <li>@Html.ActionLink("About as", "AboutAs")</li>

        </ul>
    </div>
    <div id="left-colum">
        123
    </div>
    <div id="body">
        @RenderBody()
    </div>


    <div id="footer">
        4
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
