<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        <style>
        #header 
        {
            width: 1100px; 
            height: 100px;
            background: #ccc;
            margin: auto;
        }
        #menu 
        {
            width: 1100px; 
            height: 30px;
            background: #808080;
            margin: auto;
        }
        ul.hr 
        {
            margin: 0;
            padding: 6px;
        }
        ul.hr li 
        {
            display: inline;
            margin-right: 0px;
            border: 1px solid #000;
            padding: 5px;
        }
        a.classname
        {
            display: block;
            width: 150px;
            height: 150px;
        }
        #body 
        {
            width: 1100px; 
            background: #8080FF;
            margin: auto;
            bottom: auto;
        }
        #footer 
        {
            width: 1100px; 
            height: 100px;
            background: #ccc;
            margin: auto;
        }

        .authorization
        {
            float:right;
            display: inline;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div id ="header">
        <ul>
            <li class="authorization">@Html.ActionLink("Sign in", "Login", "Login")</li>
            <li class="authorization">@Html.ActionLink("Registration", "SignUp", "Registration")</li>
        </ul>
    </div>
    <div id ="menu">
        <ul class="hr">
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("Category", "Category")</li>
            <li>@Html.ActionLink("Delivery", "Delivery")</li>
            <li>@Html.ActionLink("About as", "AboutAs")</li>
            
        </ul>
    </div>
    <div id ="body">
        @RenderBody()
    </div>
    <div id ="footer">
        4
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
